.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      135deg,
      rgba(2, 1, 5, 0.9) 0%,
      rgba(60, 59, 63, 0.2) 100%
    ),
    url("../images/plates.jpeg") bottom no-repeat fixed;
  background-size: cover;
  position: relative;
}

.star-gazing {
  background: url("../images/Pizza-menu.jpeg") center no-repeat;
}

.hiking {
  background: url("../images/food-menu.jpeg") center no-repeat;
}

.camping {
  background: url("../images/bar-menu.jpeg") center no-repeat;
}

.hero p {
  margin-bottom: 20px;
}

.star-gazing:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.hiking:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.camping:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
