header {
  background-color: black;
}

.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      135deg,
      rgba(2, 1, 5, 0.9) 0%,
      rgba(60, 59, 63, 0.2) 100%
    ),
    url("../images/bar-menu-page.jpeg") bottom no-repeat fixed;
  background-size: cover;
  position: relative;
}

.hero p {
  margin-bottom: 20px;
}
